*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
/* header */
header{
  background-color: pink;
  height: 200px;
}
.button{
  border:2px solid #F28E71;
  border-radius: 5px;
  padding:7px;
}
/* header-top */
.header-top{
  background-color: #F5F8FA;
  /* height: 100px; */
}
/* navbar */
.primanavbar:after{
  content: "";
  clear: both;
  display: table;
}
.primanavbar{
  background-color: #F5F8FA;
  width: 80%;
  margin: auto;
}
.navbar {
  height: 60px;
  line-height: 30px;
  padding: 15px 0;
}
.list{
  list-style: none;
}
.list li{
  display: inline-block;
  margin-right: 12px;
}
/* navbar left */
.navbar.left{
  float: left;
}
.contact li a{
  text-decoration: none;
  color: #4D5E70;
  text-align: center;
}
.contact li:first-child{
  border-right: 2px solid #4D5E70;
  padding-right: 10px;
  margin-right: 5px;
}
.contact li:last-child{
  padding-left: 10px;
  margin-left: 5px;
}
.fa-globe-europe,
.fa-chevron-down{
  vertical-align: middle;
  font-size: 14px;
}
.fa-globe-europe{
  margin-right: 4px;
}
.fa-chevron-down{
  margin-left: 4px;
  margin-right: 14px;
}
/* navbar right */
.navbar.right{
  float: right;
}
.menu.list li a{
  text-decoration: none;
  color: white;
}
.menu.list li .login{
  color: #F28E71;
}
.menu.list li .github{
  background-color: #F28E71;
}
.menu.list li .fa-search{
  color: #43A5BE;
}


/* header bottom */
.header-bottom{
  background-color: red;
  height: 100px;
}

/* main */
main{
  background-color: green;
  height: 400px;
}

/* footer */
footer{
  background-color: yellow;
  height: 200px;
}
