*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
header{
  position: relative;
  background-color: #FDF2EE;
  height: 600px;
}
.bar{
  position: absolute;
  bottom: -1px;
  height: 60px;
  width: 100%;
  color: #ACEAE3;
  background-color: #ACEAE3;
  z-index: 2;
  border-top: 2px solid #33465B;
  border-bottom: 2px solid #33465B;
}
.button{
  border:2px solid #F28E71;
  border-radius: 5px;
  padding:7px;
  text-decoration: none;
}
/* header-top */
.header-top{
  background-color: #F5F8FA;
  /* height: 100px; */
}
/* navbar */
.primanavbar:after{
  content: "";
  clear: both;
  display: table;
}
.primanavbar{
  background-color: #F5F8FA;
  width: 80%;
  margin: auto;
}
.navbar {
  height: 60px;
  line-height: 30px;
  padding: 15px 0;
}
.list{
  list-style: none;
}
.list li{
  display: inline-block;
  margin-right: 12px;
}
/* navbar left */
.navbar.left{
  float: left;
}
.contact li a{
  text-decoration: none;
  color: #4D5E70;
  text-align: center;
}
.contact li:first-child{
  border-right: 2px solid #4D5E70;
  padding-right: 10px;
  margin-right: 5px;
}
.contact li:last-child{
  padding-left: 10px;
  margin-left: 5px;
}
.fa-globe-europe,
.fa-chevron-down{
  vertical-align: middle;
  font-size: 14px;
}
.fa-globe-europe{
  margin-right: 4px;
}
.fa-chevron-down{
  margin-left: 4px;
  margin-right: 14px;
}
/* navbar right */
.navbar.right{
  float: right;
}
.menu.list li a{
  text-decoration: none;
  color: white;
}
.menu.list li .login{
  color: #F28E71;
}
.menu.list li .github{
  background-color: #F28E71;
}
.menu.list li .github:hover{
  background-color: white;
  color: #F28E71;
}
.menu.list li .fa-search{
  color: #43A5BE;
}
/* seconda navbar */
.container{
  background-color: white;
  width: auto;
  border-top: 1px solid #33465B;
}
.secondanavbar:after{
  content: "";
  clear: both;
  display: table;
}
.secondanavbar{
  width: 80%;
  margin: auto;
}
.secondnavbar .left .logo{
  width: 100px;
  height: 70px;
  margin-left: -5px;
  vertical-align: middle;
  padding-bottom: 20px;
}
.menu.second{
  list-style: none;
}
.menu.second li{
  display: inline-block;
  margin-left: 12px;
}
.menu.second li a{
  text-decoration: none;
  color: #7C98B6;
}
#pricing{
  margin-right: 12px;
}
/* header bottom */
.header-bottom{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 90%;
  background-size: 83%;
  background-position: cover;
}
.container-banner{
  width: 80%;
  margin: auto;
}
.banner{
  position: relative;
  height: 480px;
  width: 31%;
  margin: 0;
  text-align: left;
}
.text-banner{
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
}
.text-banner .title{
  margin-bottom: 20px;
  color: #33465B;
  font-size: 40px;
}
.text-banner p{
  color: #33465B;
  font-size: 15px;
  margin-bottom: 35px;
}
.text-banner .shortmessage{
  color: #33465B;
  font-size: 5px;
  margin-bottom: 35px;
  margin-top: 35px;
}
.text-banner .shortmessage p{
  font-size: 10px;
}
.text-banner .button{
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  background-color: #F18D71;
}
/* main */
main{
  background-color: #F5F8FA;
}
/* main-top */
.main-top{
  position: relative;
  width: 80%;
  background-color: #F5F8FA;
  margin: auto;
}
/* container1 */
.container1{
  width: 100%;
  margin: auto;
  text-align: center;
  color: #33465B;
}
.container1 .cube{
  margin-bottom: 15px;
}
.container1 h2 {
  margin-bottom: 15px;
  font-size: 25px;
}
.container1 p{
  padding: 0 180px;
}
/* container2 */
.container2{
  width: 100%;
  margin: 0;
  background-color: white;
  padding:40px;
  margin-top:40px;
  box-shadow: 2px;
  border-radius: 10px;
}
.container2::after{
  content: "";
  clear: both;
  display: table;
}
/* container2 left */

.container2-left{
  float: left;
  width: 30%;
  text-align: center;
  background-color: white;
}
.container2-left img{
  width: auto;
  height: 80px;
}
.container2-left .button{
  margin-top: 30px;
  background-color: #F28E71;
  font-size: 15px;
  padding: 13px;
  text-decoration: none;
  color: white;
}
.container2-left .imgleft2{
  margin-top: 20px;
}
/* container 2 right */
.container2-right{
  float: right;
  width: 70%;
  padding-left:70px;
  color: #33465B
}
.container2-right h2{
  color: #33465B;
  margin-bottom: 10px;
}
.container2-right p{
  color: #33465B;
  margin-bottom: 10px;
}
.container2-right .container2-list li{
  display: inline-block;
  text-align: center;
}
.container2-right .container2-list .hr{
  width: 300px;
  vertical-align: middle;
  color: #33465B;
}
.listmiddle{
  margin-top: 15px;
}
.fa-check-circle{
  vertical-align: middle;
  color: #F07857;
  margin-right: 10px;
}
.container2-right .contact{
  padding-top: 50px;
}

/* triple box aligned */
.triplebox::after{
  content: "";
  display: table;
  clear: both;
}
.triplebox{
  width: 80%;
  margin: 40px auto 40px;
  margin
}
.box-center{
  float: left;
  background-color: white;
  width: 30%;
  text-align: center;
  padding: 15px;
  box-shadow: 2px;
  border-radius: 10px;
}
.box-center.sales{
  margin: 0 5%;
}

.box-center .box-img{
  height: 100px;
  margin-bottom: 15px;
}
.box-center h3{
  font-size: 25px;
  margin-bottom: 15px;
}
.box-center p{
  font-size: 15px;
  margin-bottom: 20px;
}
.box-center hr{
 width: 50%;
 margin: 0 25% 20px 25%;
}
.box-center h4{
  text-transform: uppercase;
  font-size: 15px;
}
.box-center .box-list{
  list-style: none;
  text-align: justify;
  margin: 20px auto;
}
.box-center .button{
  background-color: #F28E71;
  font-size: 15px;
  padding: 13px;
  text-decoration: none;
  color: white;
}
/* main-center */
.main-center{
  background-image: linear-gradient(to bottom right, #45A8BA, #53BDA6);
  padding-top: 50px;
  padding-bottom: 70px;
}
.learn-and-grow{
  width: 80%;
  margin: auto;
  padding-top: 25px;
  text-align: center;
  color: white;
}
.learn-and-grow p{
  font-size: 15px;
  margin-top: 25px;
}
/* grill di box */
.container-grill:after{
  content: "";
  display: table;
  clear: both;
}
.container-grill{
  width: 80%;
  margin: auto;
  padding-top: 60px;
  text-align: center;
  color: white;
}
.grill-box{
  float: left;
  width: 25%;
  padding:30px;
}
.grill-box.top{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.grill-box.bottom{
  border-right: 1px solid white;
}
.container-grill div:nth-child(4){
  border-right: none;
}
.container-grill div:last-child{
  border-right: none;
}
.grill-box img{
  height: 25px;
  width: auto;
  margin-bottom: 5px;
}
.grill-box h2{
  font-size: 40px;
  text-transform: uppercase;
}
.grill-box .fa-plus{
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}
.grill-box p{
  font-size: 13px;
}
/* main-bottom */
.main-bottom{
  background-color: white;
}
.container-main-bottom:after{
  content: "";
  display: table;
  clear: both;
}
.container-main-bottom{
  width: 80%;
  height: 600px;
  margin: auto;
  padding: 40px 0 40px 0;
  text-align: center;
  color: #33465B;
}
.main-bottom .top{
  width: 90%;
  margin: auto;
}
.main-bottom .top:after{
  content: "";
  display: table;
  clear: both;
}
.main-bottom .numbers{
  float: left;
  width: 20%;
  text-align: left;
}
.main-bottom .customers{
  float: right;
  width: 80%;
  text-align: center;
}
.numbers h2{
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 30px;
}
/* grill destra customers */
.customers:after{
  content: "";
  display: table;
  clear: both;
}
.customers .grill-customers-container{
  float: right;
  margin-left: 200px;
}
.customers .customers-box{
  width: 25%;
}
.grill-box.customers-box img{
  height: 13px;
  font-size: 20px;
  width: auto;
}

/* container bottom testo e immagine */
.container-bottom.bottom::after{
  content: "";
  display: table;
  clear: both;
}
.container-bottom.bottom{
  position: relative;
  }
  .container-bottom .text-banner{
  height: 300px;
  width: 40%;
  margin: 0;
  text-align: left;
  margin-top: 50px;
}
.container-image{
  float: right;
  padding-top: 40px;
}
.container-image img{
  height: 300px;
}
/* footer */
footer{
  background-color: #33465B;
}
.container-footer{
  width: 80%;
  margin: auto;
  padding-top: 40px;
}
/* footer top */
.footer-top::after{
  content: "";
  display: table;
  clear: both;
}
.footer-list{
  float: left;
  width: 25%;
  line-height: 30px;
}
.footer-list li{
  color: white;
  list-style: none;
}
.footer-list li a{
  text-decoration: none;
  color: #7C98B6;
}
.footer-list .support-button{
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
.social-logo li{
  display: inline-block;
  margin-right: 20px;
  padding-top: 10px;
  color: #7C98B6;
}
/* footer bottom */
.footer-bottom .container-footerbottom{
  width: 100%;
  padding-top: 30px auto;
  text-align: center;
}
.languages {
  margin-top: 20px;
}
.languages li{
  display: inline-block;
  margin-right: 20px;
}
.container-footerbottom .languages li a{
  text-decoration: none;
  color: #7C98B6;
}
.container-footerbottom hr{
  border: 1px solid #7C98B6;
  margin: 20px auto;
}
.container-footerbottom .credits:after{
  content: "";
  display: table;
  clear: both;
}

.credits .copywrite{
  float: left;
  color: #7C98B6;
  font-size: 10px;
  padding-bottom: 50px;
}
.credits .privacy{
  float: right;
}
.credits .privacy a{
  text-decoration: none;
  color: #7C98B6;
  margin-left: 20px;
}

/* Buttons */
.button:hover{
  background-color: white;
  color:#F28E71;
