*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
/* header */
header{
  background-color: pink;
  height: 200px;
}

/* header-top */
.header-top{
  background-color: blue;
  height: 100px;
  width: 85%;
  margin: auto;
}
.primanavbar:after{
  content: "";
  clear: both;
  display: table;
}
.primanavbar{
  background-color: brown;
}
/* navbar left */
.navbar.left{
  float: left;
  background-color: violet;
}

.navbar.right{
  float: right;
  background-color: lime;
}
/* header bottom */
.header-bottom{
  background-color: red;
  height: 100px;
}

/* main */
main{
  background-color: green;
  height: 400px;
}

/* footer */
footer{
  background-color: yellow;
  height: 200px;
}
